@{
    ViewBag.Title = "Home Page";
}
<div class="mui--appbar-height"></div>
<div class="mui-container-fluid">
    <br>
    <h1>Brand.io</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris
        sollicitudin volutpat molestie. Nullam id tempor nulla. Aenean sit amet
        urna et elit pharetra consequat. Aliquam fringilla tortor vitae lectus
        tempor, tempor bibendum nunc elementum. Etiam ultrices tristique diam,
        vitae sodales metus bibendum id. Suspendisse blandit ligula eu fringilla
        pretium. Mauris dictum gravida tortor eu lacinia. Donec purus purus,
        ornare sit amet consectetur sed, dictum sitamet ex. Vivamus sit amet
        imperdiet tellus. Quisque ultrices risus a massa laoreet, vitae tempus sem
        congue. Maecenas nec eros ut lectus vehicula rutrum. Donec consequat
        tincidunt arcu non faucibus. Duis elementum, ante venenatis lacinia
        cursus, turpis massa congue magna, sed dapibus felis nibh sed tellus. Nam
        consectetur non nibh vitae sodales. Pellentesque malesuada dolor nec mi
        volutpat, eget vehicula eros ultrices.
    </p>

    <div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>
</div>